body {background-color: black;}

.titulo {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.corpo {
    display: flex;
    justify-content:left;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.corpo1 {
    display: flex;
    justify-content: baseline;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.image {
    display: flex;
    justify-content: center;
}